extends layout

block content
  h1.title= title
  form.my-form(method="post")
    input.id(type="text", name="id", placeholder="ID를 입력하세요")
    input.btn(type="button", value="제출")
  script(src="javascripts/login.js")
